<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>My Trips</title>
</head>
<body>
  <h1>My Trips</h1>

<ul>
  <% trips.forEach(trip => { %>
    <li>
      <a href="/users/<%= user._id %>/trips/<%= trip._id %>">
        <%= trip.title %> - <%= trip.location %> (<%= trip.category %>)
      </a>
    </li>
  <% }) %>
</ul>

<a href="/users/<%= user._id %>/trips/new">Add New Trip</a>
</body>
</html>
